In [1]:
import pandas as pd 
import matplotlib as mpl
import numpy as np
import seaborn as sb
import requests
import io

In [2]:
url = "https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/ratings.dat"
columns = ["user_id","movie_id","rating","rating_timestamp"]

textStream = requests.get(url).content
df_rating = pd.read_csv(io.StringIO(textStream.decode('utf-8')), sep="::", names=columns)
df_rating.head()

/var/folders/zx/fhb25_d129sdsm43j5j1w2p80000gn/T/ipykernel_14169/1706820698.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_rating = pd.read_csv(io.StringIO(textStream.decode('utf-8')), sep="::", names=columns)

   user_id  movie_id  rating  rating_timestamp
0        1    114508       8        1381006850
1        2    499549       9        1376753198
2        2   1305591       8        1376742507
3        2   1428538       1        1371307089
4        3     75314       1        1595468524

In [3]:
url = "https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/movies.dat"
columns = 'movie_id::movie_title (movie_year)::genre|genre|genre'.split('::')

textStream = requests.get(url).content
df_movies = pd.read_csv(io.StringIO(textStream.decode('utf-8')), sep="::", names=columns)
df_movies.head()

/var/folders/zx/fhb25_d129sdsm43j5j1w2p80000gn/T/ipykernel_14169/75741244.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_movies = pd.read_csv(io.StringIO(textStream.decode('utf-8')), sep="::", names=columns)

,movie_id,movie_title (movie_year),genre|genre|genre
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,10,La sortie des usines Lumière (1895),Documentary|Short
2,12,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,91,Le manoir du diable (1896),Short|Horror